<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
            <div class="  container-fluid jumbotron" style="background-color:rgb(47, 179, 255)">
        <h1>Well Come to Our Home Page</h1>
    </div>
    <div class="  btn-group btn-group-justified">
    <a href="/page" class="btn-group btn-info btn-lg "> Home
        <span class=" glyphicon  glyphicon-home " ></span>
    </a>
    <a href="https://nsankush.blogspot.com/" class="btn-group btn-primary btn-lg">   
        

     Blog <span class=" glyphicon  glyphicon-fire " ></span></a>
    <a href="/page/contact" class="btn-group btn-danger btn-lg ">Contact
    <span class=" glyphicon  glyphicon-user " ></span></a>

    
    <a href="/page/login" class="btn-group btn-success btn-lg"> login
    <span class=" glyphicon  glyphicon-log-in " ></span></a>
    <a href="/page/register" class="btn-group btn-danger btn-lg ">Register
        <span class=" glyphicon  glyphicon-plus " ></span>
    </a>
    <a href="/page/profile" class="btn-group btn-inverse btn-lg ">Profile
        <span class=" glyphicon  glyphicon-user " ></span>
    </a>
    </div>
    <div>
   <nav class="navbar-form navbar-right" role="search" action='#' method= 'get'>
       <div class="form-group">
        <input class="form-control" type="text" name="q"  value="">
        <button class="btn btn-black" type="submit">search</button>
       </div>
   </nav>
    

   {% block body %}
   
   {% endblock %}
   {% block reg %}
   {% endblock %}

 {% block contact %}
 {% endblock %}
 {% block login %}
 {% endblock %}
 {%  block pro%}
 {% endblock %}

 {% block edit %}
 {% endblock %}

    </div>
</div>
</body>
</html>