<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
    
   <!--  <div class="  btn-group btn-group-justified">
    <a href="/page" class="btn-group btn-info btn-lg "> Home
        <span class=" glyphicon  glyphicon-home " ></span>
    </a>
    <a href="https://nsankush.blogspot.com/" class="btn-group btn-primary btn-lg">   
        

     Blog <span class=" glyphicon  glyphicon-fire " ></span></a>
    <a href="/page/contact" class="btn-group btn-danger btn-lg ">Contact
    <span class=" glyphicon  glyphicon-user " ></span></a>

    
    <a href="/page/login" class="btn-group btn-success btn-lg"> login
    <span class=" glyphicon  glyphicon-log-in " ></span></a>
    <a href="/page/register" class="btn-group btn-danger btn-lg ">Register
        <span class=" glyphicon  glyphicon-plus " ></span>
    </a>
    <a href="/page/profile" class="btn-group btn-inverse btn-lg ">Profile
        <span class=" glyphicon  glyphicon-user " ></span>
    </a>
    </div>
    <div>
   <nav class="navbar-form navbar-right" role="search" action='#' method= 'get'>
       <div class="form-group">
        <input class="form-control" type="text" name="q"  value="">
        <button class="btn btn-black" type="submit">search</button>
       </div>
   </nav>
     -->
<div class="container-fluid">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid ">
            <div class="navbar-header">
                <button type="button" class=" navbar-toggle  collapsed " data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>

                        <span class="icon-bar"></span>
                </button>
                
                <a class="navbar-brand" href="/">Home</a>

            </div>

            <div id="navbar" class="navbar-collapse collapse">
                {% if user.is_authenticated %}
                <ul class="nav navbar-nav">
                   
                    
                    <li><a href="/page/contact">Contact</a></li>
                        <li><a href="/accounts/profile">Profile</a></li>
                    <li><a href="{% url 'contact' %}">blog</a></li>
                    <li><a href="/page/changepassword">Changepassword</a></li>
                    <li><a href="/page/logout">Logout</a></li>
                    

                </ul>
                {% else %}
                <ul class="nav navbar-nav">
                        <li><a href="/page/login">Login</a></li>
                        
                       
                        
                        <li><a href="/page/register">Register</a></li>
                        
    
                    </ul>
                    {%  endif %}
                <nav class="navbar-form navbar-right" role="search" action='#' method= 'get'>
                        <div class="form-group">
                         <input class="form-control" type="text" name="q"  value="">
                         <button class="btn btn-info" type="submit">search</button>
                        </div>
                    </nav>
            </div>
        </div>
</div>



   {% block body %}
   
   {% endblock %}

   {% block reg %}
   {% endblock %}

 {% block contact %}
 {% endblock %}
 {% block login %}
 {% endblock %}
 {%  block pro%}
 {% endblock %}

 {% block edit %}
 {% endblock %}
 {% block password %}
 {% endblock %}
 {% block logout %}
 {% endblock %}

 {% block home1 %}

 {% endblock %}


    </div>
</div>
</body>
</html>