{%  extends 'base.html' %}

{% block home1 %}
<div class="container">
    <div class="col-md-8">

    
    <h1>hello</h1>

    <form method="post" >
        {% csrf_token %}
        
        {{ form.post }}
<br>
        <button class=" btn btn-success" type="submit" >click me</button>
    </form>
   <h2>{{ text }}</h2>
   {% for post in posts %}
   <h1>{{ post.post }}</h1>
   <h2>{{ post.date }}</h2>
   {% endfor %}
</div>
<div class="col-md-4"><h2>
    Switch User : HERE---
</h2>
{% for user in users %}

<li><a href="{% url 'profile_vk' pk=user.pk %}"> <h2>{{ user.username }}</h2></a>
</li>

{% endfor %}
</div>
</div>



{% endblock %}