

<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<style>
.col-md-3
{
    display: inline-block;
    margin-left: -4px;
    
}
.col-md-3 img{
    width: 100px;
    height: auto;
}
body .carousel-indicators li {
    background-color: blue;

}

body .carousel-control-prev-icon,
body .carousel-control-next-icon
{
background-color: blue;
} 
body .no-padding{
margin-left: 0;
padding-right:0;
}
</style>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">CWHTextUtils.com</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Contact Us</a>
                    </li>
              
                  </ul>
                </div>
                <form class="form-inline">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
              </nav>
              
              <div  id="demo" class="carousel slide" data-ride="caro"></div>
              <ul class="courousel-indicators">
                    <li data-target="#demo" data-slide-to="0" ></li>
                    <li data-target="#demo" data-slide-to="1" ></li>
                    <li data-target="#demo" data-slide-to="2" ></li>
                </ul>
                <div class="container carousel-inner no-padding">
                        <div class="carousel-item active">
                  <div  class="col-xs-3 col-sm-3 col-md-3">
     

                    <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="..." alt="Card image cap">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                              </div> 
                              <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="..." alt="Card image cap">
                                    <div class="card-body">
                                      <h5 class="card-title">Card title</h5>
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                      <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                  </div>
                                  <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" src="..." alt="Card image cap">
                                        <div class="card-body">
                                          <h5 class="card-title">Card title</h5>
                                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                          <a href="#" class="btn btn-primary">Go somewhere</a>
                                        </div>
                                      </div>
                                      <div class="card" style="width: 18rem;">
                                            <img class="card-img-top" src="..." alt="Card image cap">
                                            <div class="card-body">
                                              <h5 class="card-title">Card title</h5>
                                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                              <a href="#" class="btn btn-primary">Go somewhere</a>
                                            </div>
                                          </div>
                                         
                                              </div>  

                  </div>
                  <div class="carousel-item active">
                        <div  class="col-xs-3 col-sm-3 col-md-3">
           
      
                          <div class="card" style="width: 18rem;">
                                      <img class="card-img-top" src="..." alt="Card image cap">
                                      <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                      </div>
                                    </div> 
                                    <div class="card" style="width: 18rem;">
                                          <img class="card-img-top" src="..." alt="Card image cap">
                                          <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            <a href="#" class="btn btn-primary">Go somewhere</a>
                                          </div>
                                        </div>
                                        <div class="card" style="width: 18rem;">
                                              <img class="card-img-top" src="..." alt="Card image cap">
                                              <div class="card-body">
                                                <h5 class="card-title">Card title</h5>
                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                <a href="#" class="btn btn-primary">Go somewhere</a>
                                              </div>
                                            </div>
                                            <div class="card" style="width: 18rem;">
                                                  <img class="card-img-top" src="..." alt="Card image cap">
                                                  <div class="card-body">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                                  </div>
                                                </div>
                                               
                                                    </div>  
      
                        </div>
                        <div class="carousel-item ">
                                <div  class="col-xs-3 col-sm-3 col-md-3">
                   
              
                                  <div class="card" style="width: 18rem;">
                                              <img class="card-img-top" src="..." alt="Card image cap">
                                              <div class="card-body">
                                                <h5 class="card-title">Card title</h5>
                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                <a href="#" class="btn btn-primary">Go somewhere</a>
                                              </div>
                                            </div> 
                                            <div class="card" style="width: 18rem;">
                                                  <img class="card-img-top" src="..." alt="Card image cap">
                                                  <div class="card-body">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                                  </div>
                                                </div>
                                                <div class="card" style="width: 18rem;">
                                                      <img class="card-img-top" src="..." alt="Card image cap">
                                                      <div class="card-body">
                                                        <h5 class="card-title">Card title</h5>
                                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                                      </div>
                                                    </div>
                                                    <div class="card" style="width: 18rem;">
                                                          <img class="card-img-top" src="..." alt="Card image cap">
                                                          <div class="card-body">
                                                            <h5 class="card-title">Card title</h5>
                                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                            <a href="#" class="btn btn-primary">Go somewhere</a>
                                                          </div>
                                                        </div>
                                                       
                                                            </div>  
              
                                </div>                                         
                </div>
    {% load static %}

</body>
</html>