{% extends "shop/base.html"  %}
{% block Product %}






<!-- ############################################################## -->
<div class="container">
    {% for product, range, nSlides in allProds %} 
    <h4 class="my-4">{{product.0.category}}-Recomended For You</h4>
<div class="row">
<div id="demo{{forloop.counter}}" class="col carousel slide my-3" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>
    {% for i in range %}
    
    <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}" ></li>
    
    {% endfor %}
  </ul>

  <div class="container carousel-inner no-padding">

    <div class="carousel-item active">
    
  
{% for i in product %}

      <div class="col-xs-3 col-sm-3 col-md-3">
        <div class="card align-items-center" style="width: 18rem;">
          <img src='/media/{{i.image}}' class="card-img-top" alt="...">
          <div class="card-body align-items-center">
            <h6 id="namepr{{i.id}}" class="card-title"><strong>{{i.product_name}}</strong></h6>
            <!-- <p class="card-text">{{i.desc |slice:"0:45" }}...</p> -->
            <a href="#" ><button class="btn-outline-success">₹{{i.price}}</button> </a>
<br>
<span id="divpr{{i.id}}" class="divpr">

            <button id="pr{{i.id}}" class="btn btn-primary cart my-4">ADD TO CART</a></button></span>
        <button>    <a href="/shop/product/{{i.id}}"> <button id="qv{{i.id}}" class="btn btn-success cart">Quick View

    </button>     </a>
  </div>
        </div>
      </div>
     

      {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
    </div>
    <div class="carousel-item">
    {% endif %}
      {% endfor %}
     
  </div>


  
   </div>
   </div>

  </div>

  <!-- left and right controls for the slide -->
  <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
      <span class="carousel-control-next-icon"></span>
  </a>
  <div>

    
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
{% endfor %}
 </div>   

 <script>
  // Find out the cart items from localStorage
  if (localStorage.getItem('cart') == null) {
      var cart = {};
  } else {
      cart = JSON.parse(localStorage.getItem('cart'));
      document.getElementById('cart').innerHTML = Object.keys(cart).length;
      updateCart(cart);
  }
  // If the add to cart button is clicked, add/increment the item
  $('.cart').click(function() {
      var idstr = this.id.toString();
      if (cart[idstr] != undefined) {
          cart[idstr] = cart[idstr] + 1;
      } else {
          cart[idstr] = 1;
      }
      updateCart(cart);
      
  });
  //Add Popover to cart
  $('#popcart').popover();
updatePopover(cart);
function updatePopover(cart)
{
    console.log('We are inside updatePopover');
    var popStr = "";
    popStr = popStr + "<h5> Cart for your items in my shopping cart </h5><div class='mx-2 my-2'>";
    var i = 1;
    for (var item in cart){
        popStr = popStr + "<b>" + i + "</b>. ";
        popStr = popStr + document.getElementById('name' + item).innerHTML.slice(0, 19) + "... Qty: " + cart[item] + '<br>';
        i = i+1;
    }
    popStr = popStr + "</div>" 
    console.log(popStr);
    document.getElementById('popcart').setAttribute('data-content', popStr);
    $('#popcart').popover('show');
}
  
  
  function updateCart(cart) {
      for (var item in cart) {
          document.getElementById('div' + item).innerHTML = "<button id='minus" + item + "' class='btn btn-primary minus'>-</button> <span id='val" + item + "''>" + cart[item] + "</span> <button id='plus" + item + "' class='btn btn-primary plus'> + </button>";
      }
      localStorage.setItem('cart', JSON.stringify(cart));
      document.getElementById('cart').innerHTML = Object.keys(cart).length;
      console.log(cart);
  }

  // If plus or minus button is clicked, change the cart as well as the display value
  $('.divpr').on("click", "button.minus", function() {
      a = this.id.slice(7, );
      cart['pr' + a] = cart['pr' + a] - 1;
      cart['pr' + a] = Math.max(0, cart['pr' + a]);
      document.getElementById('valpr' + a).innerHTML = cart['pr' + a];
      updateCart(cart);
  });
  $('.divpr').on("click", "button.plus", function() {
      a = this.id.slice(6, );
      cart['pr' + a] = cart['pr' + a] + 1;
      document.getElementById('valpr' + a).innerHTML = cart['pr' + a];
      updateCart(cart);
  });
  </script>
    {% endblock %}