<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ankush|about</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>    <script src="main.js"></script>
</head>
<body><div class="container">
    <div class="jumbotron" style="background-color:aqua">
        <h1 class="display-4">wellcome To Our About Section</h1>
    </div>
    </div>
    <div class="container-fluid">
        <div class="jumbotron">
            <p class="lead">Your team matters just as much as your great business idea.

                A company overview (also known as company information or a company summary) 
                is an essential part of a business plan. It’s an overview of the most important points about your company—your history, management team, location, mission statement and legal structure. It usually appears after the executive summary in your business plan.
            <br>
        <br>
        This is typically the shortest chapter of a business plan document, but that doesn’t reduce its importance. If you’re presenting this plan to people outside of your company, this is your opportunity to introduce yourself and your business, and you are going to want to put your best foot forward.

        Imagine that the person reading your business plan document has never heard of you, and doesn’t know anything about your business.
        
        What should be their takeaway? What do they need to remember about you and your company?
        
        When composing this section of your business plan, focus on the highlights: who you are as the founder and owner, other prominent team members, your product or service, and why it is unique.
         Think of this chapter as the “who, what, when, where, and why” of your business.</p>
      <p>
            Who is your intended audience?
            Developing a business plan that suits your purposes means tailoring it to your audience. Sometimes that can mean eliminating a section that isn’t applicable to your current project. If you’re writing this chapter for an internal business plan, you could approach writing a company overview as a status update on the company. How did you get to where you are today? Who is currently in charge?
            
            Depending on who is viewing and working with the business plan in the company, this chapter may not be necessary. However, an employee who is new to the company or project may appreciate some background information and context.
            
            If this plan is for outside use or investment, consider the perspective of your audience. They won’t know your team, facilities, or legal structure yet—you want to fill in the blanks for them in a polished and organized way. Present your company like it is well poised to accept their financial backing and hit the ground running.
            
           
            Company overview
            This is the meet and greet section of your business plan. If you were to eloquently write down your elevator pitch, you could put it in this section. Keep this brief, as you’re going to be expanding on what you say here in the next few sections.
            
            Company history
            This is the “Once upon a time…” of your business plan. The company history section will start out with when your business was founded and who was involved, and will go into a little of the backstory.
            
            This section is going to vary depending on who this business plan is being presented to and what stage your company is in. Is this an internal plan? Historical data may not be essential. Is this a plan to seek funding? In that case, investors will want to know your backstory, and this section will allow you to provide some context for your business plan. Include how the company started, how it grew and changes made along the way. What led you to this point?
            </p><p class="lead">
            If you are an existing business seeking funding for expansion or a new project, the company history section is going to be pretty significant. You’ll want to make it clear that you have a strong track record of successful projects, weathering the tough times, and making good business decisions.  Who did you decide to partner with? Have you launched new products over time? Made improvements to facilities or services? Streamlined operations?
            
            If this is a business plan for a startup, you won’t have a company history per se, but you could use the company history section to give a concise description of how the founder or founders decided to start this venture. What was the “light bulb” moment? Who was involved?
            
            Management team
            The management team section of your business plan is your opportunity to paint a picture of your team and showcase their finest attributes. Again, for internal use, this may not be applicable, though you could use it to highlight new employees being brought in or existing employees that are taking on some new leadership responsibilities.
            
            If you’re a startup or looking to expand, there may be team members you know you’re lacking. In that case, mention those roles, and what your plans are to fill those holes. Include which people might currently be taking on multiple responsibilities or sharing duties.
            
            If you plan to present your plan to a bank or other potential investors, this is critical data. Who are the leaders in your company? What qualifies them for their positions and inspires confidence? Be sure to include details about yourself, usually at the beginning. Work experience, past successes, MBAs, and other degrees can be referenced for each person. You want to showcase everyone in their best light, remembering that investors invest in people first and ideas second.
            
            Legal structure and ownership
            Related to the management team, you may want to include a separate section outlining the legal structure and ownership of your organization.
            
            The legal structure of your business is important data for any funding source to have. Are you an LLC? A C-corp? An S-corp? A sole proprietor? In a partnership?  This will also affect how you file your taxes.
            
            The ownership structure of your business is going to be important data to include. Who owns what percentage of your business? Banks and investors will want this information to be clearly spelled out.
            </p>
            <h3>Locations and facilities</h3>
            Use this section to describe where you’re going to do business. Are you going to be purchasing a building for manufacturing? A storefront? Do you already have a great space?
            
            Explain the circumstances of your use of any space mentioned in this section. Include whether you own or lease, and what the pertinent terms of that lease are if you have one. Make it clear what the long-term plan is for any space that you have, or what your needs will be for a future facility. If you have a home office, include that here as well.
            
            Mission statement
            Be as succinct as possible when crafting your mission statement. What idea can you distill into one or two sentences that conveys the primary mission of your company? This might be something you want to create with your management team if you have one, so it conveys a shared long-term vision.
            
            Further reading
            For more information on the chapters to include in your business plan, and how to use a business plan to secure funding, here are some articles you’ll find helpful:
            
            The Key Elements of the Financial Plan
            How to Write a Business Plan
            Do you have any questions on writing your company overview? Tell us on Twitter @Bplans.
            
            Would you’d rather leave the business plan writing to the pros? Check out LivePlan’s business consulting—you’ll get an MBA-written business plan in five business days.
            <br>
            <h3> Was this article helpful?</h3>
           
            1 Star2 Stars3 Stars4 Stars5 Stars (60 VOTES, AVERAGE: 4.07 OUT OF 5)
            Angelique O'Rourke
            Angelique O'Rourke
            Artistic + intellectual pursuits. Social justice. Actress. Model. Musician. Eugene // Portland.
            
            angelique@paloalto.com
            
         </p>
        </div>
    </div>
</body>
</html>