<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div class="jumbotron"  style="background-color:green">
<h1> hey guyss you are in our contact page</h1>
</div>
<dl>
    <dt>Name: ANKUSH BANIK:</dt>
    <dd>i am ankush banik, at first i wellcome you to my newly  projects. and its very new. i am the begainer. i dong know everything.
        i just know <u>python language</u> , c++,javascripts,graphical user interface, and at least not last i know the framework DJANGO,and the web frame work bootstrap
    </dd>
   <dt>Phone number:</dt>
    <dd> 9091203984
    </dd>
</dl>




<html></html>