{% extends 'base.html' %}
{%  block contact %}
<!DOCTYPE html>


<html>
<head>
   
</head>
<div class="jumbotron"  style="background-color:green">
<h1> hey guyss you are in our contact page</h1>
</div>
<dl>
    <dt>NAME: ANKUSH BANIK:</dt>
    <dd><h4>i am ankush banik, at first i wellcome you to my newly  projects. and its very new. i am the begainer. i dong know everything.
        i just know <u>python language</u> , c++,javascripts,graphical user interface, and at least not last i know the framework DJANGO,and the web frame work bootstrap
    </h4></dd>
   <dt>PHONE-NUMBER:</dt>
    <dd><h4><ul>9091203984</ul></h4>
    </dd>
    <dt>EMAIL-ADDRESS:</dt>
    <dd><h4><ul>ankushbanik123@gmail.com</ul></h4>
   
    </dd>
   
</dl>
{% endblock %}



<html></html>