{% extends 'base.html' %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
   
    <body>


    
    {% block body %}
    <div class="container-fluid">
        <div class="  container-fluid jumbotron" style="background-color:rgb(52, 233, 106)">
    <h1>Well Come to Our Home Page</h1>
    </div>
   {{ register }}

    {%  if user.is_authenticated %}
<h1> your name is :{{  user.username }}</h1>
{% else %}
<h2>you are not logged in</h2>


{% endif %}

</div>

    
</body>
</html>

{% endblock %}