

{% extends 'base.html' %}


   
    {%  block head %}
    <title>profile |Home</title>
    {% endblock %}

   {% block pro %}
   <div class="container">
      <p><h1 >||||   profile informations  ||||</h1></p></div>
      <div  class=" jumbotron">
   <p><h2>HELLO SIR YOUR  USER NAME IS :{{ user }}</h2></p>
        <p>AND YOUR  FIRST NAME IS:{{ user.first_name }}</p>
   <P>{{ user.last_name }} IS YOUR LAST NAME </P>
<P> AND SIR WE HAVE YOUR EMAIL ADDRESS ALSO=={{ user.email }}</P>
       </p>
       <br>


       <a href="/page/profile/edit" class="btn btn-success" type="reset">Update Info</a><br><br><br>
       <a href="/page/changepassword" class="btn btn-danger" type="reset">Change Password</a>
</div>
    {%  endblock %}