<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">  
  <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Tangerine">  
<link rel="stylesheet" href="{% static 'social/css/master.css' %}">

          <title>socialblog</title>
   
</head>
<body>

    {% block content %}

{% endblock %}
{% block signin%}
{% endblock %}
{% block login %}
{% endblock %}
{% block thanks %}
{% endblock %}
{% block test %}
{% endblock %}


</body>
</html>