
{% extends 'base.html' %}
<html>
    <head>
        <title>
            helooooo well come
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  


        {% load staticfiles %}
        <link rel="stylesheet"  href="{% static 'account/style.css' %}"  type="text/css">
<h1>{{myname}}</h1>
<ul>
    {% for number in numbers %}
   
     <li>{{ number }}</li>   
    
    {% endfor %}
</ul>

</head>

{% block body1 %}

    <body>
        <div class="container">

        
        <h1>hello</h1>
        <h2>wellcome</h2><br>
        <button class="btn btn-success" type="button">log in</button>
        </div>
        <div class="jumbotron">
            <h1>
                i am the best
            </h1>
        </div>
    </body>

    <body>
       
<p>
    hello guyess i am here
</p>
        {% endblock %}
        
    </body>
</html>