
 <html>
    <head>
        <title>
            helooooo well come
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  

{%  block body %}

<div class="container">
        <ul class=" nav navbar-nav  navbar-right">
                <li>
                  <a href="/accounts/">home</a>
                </li>
              </ul>
<h1>
    wellcome
</h1>
<p> you have logged out </p>
<h1>login</h1>
 <form method="post">
     {%  csrf_token %}
     {{ form.as_p }}
      <button  class="btn btn-success" href="/account/login" type="submit"> sign in</button>


 </form>

</div>

{%  endblock  %}
